<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->

         <h1>EDIT USER</h1>
      <!-- Login Form -->
      <form [formGroup]="userForm">

        <label>ID</label>
        <input type="text" id="login" class="fadeIn second" name="login"  formControlName="id">

        <label>NAME</label>
        <input type="text" id="login" class="fadeIn second" name="login" formControlName="username">

        <!-- <label>PASSWORD</label>
        <input type="text" id="login" class="fadeIn second" name="login" formControlName="password"> -->

        <label>ROLEID</label>
        <input type="text" id="login" class="fadeIn second" name="login" formControlName="roleid">

        <label>STATUS</label>
        <input type="text" id="password" class="fadeIn third" name="login" formControlName="status">

        <input type="submit" class="fadeIn fourth" value="Update User" (click)="EditUser()"> <a class="btn btn-danger" routerLink="/viewuser" style="color:white">Back To View</a>



      <!-- Remind Passowrd -->
  </form>

    </div>
  </div>
  </body>

